@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined');

:root {
  --header-height: 3rem;
  --footer-height: 2rem;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.scroll-hidden {
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

body {
  display: grid;
  grid-template:
    "header" max-content
    "main  " 1fr
    "footer" max-content / 1fr;
  height: 100vh;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #232323;
}

#header {
  grid-area: header;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px;
  height: var(--header-height);
  background: var(--header-bg-color, transparent);
}

#app {
  grid-area: main;
  display: grid;
  grid-template: "index content" 1fr / max-content 1fr;
  width: min(1100px, calc(100vw - 2rem));
  margin: 0 auto;
  height: var(--main-height);
  grid-gap: 1rem;
}

#footer {
  grid-area: footer;
  display: grid;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
  box-shadow: 0 0 1px;
  background: var(--footer-bg-color, transparent);
}

@media screen and (max-width: 600px) {
  #app {
    grid-template:
      "index" max-content
      "content" 1fr / 1fr;
  }
}
